<!DOCTYPE html>
    <head>
        <title>{{ title }}</title>
    </head>

    <body>
        <h1>GT's Fire:!</h1>
	<h2>Desired temperature is: {{ dtemp }}</h2>
        <h2>Measured temperature is: {{ mtemp }}</h2>
 

	<label style="font-size: 25pt" for=dtemp>Desired Temperature</label>
	<input style="height: 1px; width: 250px; font-size: 90pt" type=range id=dtemp min=0 value=dtemp max=30 step=1 oninput="outputUpdate(value)">
	<output style="font-size: 25pt" for=dtemp id=temperature>{{dtemp}}</output> 
	<input type="button"  name="submit" value="Update" onclick="tempUpdate()">
	<script>
            var gTemp = 0;
	    function outputUpdate(temp) {

		    document.querySelector('#temperature').value = temp;
		    gTemp = temp;
	    }
	    function tempUpdate()  {
		    var n = gTemp.toString();
		    var str1 = '/submit/';
		    var str2 = str1.concat(n);
                window.location=str2;
	}



	</script>
    </body>
</html>
